.opener-art
section.grid-section.opener
  h1.opener__text 
    |Websites and apps
    br
    |from scratch.
  .opener__intro 
    img.jason-img(src='/jason-portrait.jpg')
    div
      p.mono Hi I’m Jason. I live in London where I help startups design, prototype, and build websites and applications.
      p.mono I’ve worked on projects for the BBC, Firstminute Capital, MrSite, William Hill Online, and many others.
      p.mono My schedule is open right now, #[a(href='') contact me!]