.opener-art {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  /* opacity: .5; */
}

.opener-art::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  height: 5vh;
  /**
   * The below gradient is just black to transparent with dithering added. This
   * plugin will be useful if this becomes a repeatad pattern:
   * https://github.com/larsenwork/postcss-easing-gradients
   */
  background: linear-gradient(to bottom, 
                              hsla(240, 20%, 8%, 0) 0%, 
                              hsla(240, 20%, 8%, 0.028) 11.9%, 
                              hsla(240, 20%, 8%, 0.104) 22.5%, 
                              hsla(240, 20%, 8%, 0.216) 32.2%, 
                              hsla(240, 20%, 8%, 0.352) 41.2%, 
                              hsla(240, 20%, 8%, 0.5) 50%, 
                              hsla(240, 20%, 8%, 0.648) 58.8%, 
                              hsla(240, 20%, 8%, 0.784) 67.8%, 
                              hsla(240, 20%, 8%, 0.896) 77.5%, 
                              hsla(240, 20%, 8%, 0.972) 88.1%,
                              hsl(240, 20%, 8%) 100%
                            );
}

.opener {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  max-width: 1000px;
}

.opener__text {
  font-size: srem(5);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.opener__intro {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  margin-top: srem(6);
}
  
  .opener__intro .jason-img {
    display: block;
    margin-bottom: srem(3);
    width: 100%;
    height: auto;
    max-width: srem(7);
    border-radius: 100%;
  }

  .opener__intro p + p {
    margin-top: srem(1); 
  }

@media (--media-medium-up) {
  .opener {
    text-align: left;
    align-items: flex-start;
  }
  
  .opener__text {
    font-size: srem(7);
  }

  .opener__intro {
    align-items: flex-start;
    flex-flow: row nowrap;
    font-size: srem(1);
  }

  .opener__intro  .jason-img { 
    max-width: srem(9);
    margin: 0 srem(6) 0 0;
  }
}