.opener-art
section.grid-section.opener
  h1.opener__text 
    |Websites &amp; apps
    br
    |from scratch.
  .opener__intro 
    img.jason-img(src='/jason-portrait.jpg')
    div.opener__intro-text
      p.mono Hi I’m Jason. I help startups design, prototype, and build websites and apps.
      p.mono I’ve worked with the BBC, Firstminute Capital, MrSite, William Hill Online, and others.
      p.mono Are you making something? #[a(href='/contact') contact me!]