.post-body .image,
.post-body .video {
  margin: srem(4) auto;
  width: 100%;
}

.post-body .image img {
  display: block;
  width: 100%;
  height: auto;
}

.post-body .caption {
  color: var(--post-text-color-light);
  font-size: 1rem;
  font-style: italic;
  margin-top: srem(1);
}

.post-body iframe {
  display: block;
  width: 100%;
}