footer.grid-section.post-footer

  .thanks ❤️ Thank you for reading

  unless ! post.excerpts || post.excerpts.length === 0
    .post-social
      h3 Share a quote from this post
      .excerpts-gallery
        each excerpt in post.excerpts
          .excerpts-gallery__excerpt
            .post-card.excerpt-card
              .excerpt-card__body= excerpt
              .excerpt-card__actions
                a.excerpt-action.excerpt-action--twitter(href='') Twitter
                a.excerpt-action.excerpt-action--facebook(href='') Facebook
                a.excerpt-action.excerpt-action--copy(href='') Copy

  unless ! post.next || post.next.length === 0
    .post-next
      h3 Read next
        .next-posts-gallery
          each next in post.next
            .next-posts-gallery__post
              a.post-card.next-post-card
                .next-post-card__cover(style={ background: `url('${next.covers[0]}') center / cover no-repeat` })
                .next-post-card__title= next.title
