footer.post-footer

  section.post-footer__section.post-thanks ❤️ Thank you for reading

  unless ! post.excerpts || post.excerpts.length === 0
    section.post-footer__section.post-social
      h3.post-footer__title Share a quote
      .excerpts-gallery.slider
        each excerpt in post.excerpts
          .excerpts-gallery__excerpt
            .post-card.excerpt-card
              .excerpt-card__body= excerpt.withUrl
              .excerpt-card__actions
                a.excerpt-action.excerpt-action--twitter(href= excerpt.tweetUrl target='_blank') Tweet
                a.excerpt-action.excerpt-action--facebook(href= excerpt.facebookUrl target='_blank') Facebook
                a.excerpt-action.excerpt-action--copy(href='#' data-copy= excerpt.withUrl) Copy

  unless ! post.next || post.next.length === 0
    section.post-footer__section.post-next
      h3.post-footer__title Read next
      .next-posts-gallery
        each next in post.next
          .next-posts-gallery__post
            a.next-post-card(href=`/r/${next.slug}`)
              .next-post-card__cover
                img(src=next.covers[0] alt='')
              .next-post-card__title= next.title
