.hih {
  margin-top: srem(4);
  line-height: 1.4;
  text-align: center;
}

.hih-title {
  font-weight: var(--font-weight-medium);
}

.hih-intro {
  width: 100%;
  max-width: 777px;
  margin: 0 auto;
}

  .hih-intro p {
    margin-top: srem(1);
  }

.hih-blocks {
  display: grid;
  grid-template: 1fr \ auto;
  grid-gap: srem(4);
  margin-top: srem(3);
}

.hih-block {
  /* margin: srem(4) 0; */
  /* border-radius: 6px; */
  /* border-top: 8px solid white; */
}

  .hih-block::before {
    content: "";
    display: block;
    width: 125px;
    height: 5px;
    background: url('/ui/line-white.svg') center no-repeat;
    margin: 0 auto srem(-1);
  }

.hih-block__title {
  font-size: srem(1);
  font-weight: var(--font-weight-bold);
  margin-bottom: .5em;
  text-transform: uppercase;
}

.hih-block__desc {
  font-size: srem(1);
}

@media (--media-medium-up) {
  
}

@media (--media-medium-up) {
  .hih { font-size: srem(1); margin-top: srem(8); }

  .hih-blocks {
    grid-template-columns: 1fr 1fr;
    grid-gap: srem(8);
    margin-top: srem(8);
  }
  
  .hih-block {
    flex-basis: 50%;
  }

  .hih-block__title {
    font-size: srem(2);
  }
}