section.grid-section.hih

  .hih-intro
    h1.section-title.hih-title How I help Startups
    p I specialise in not having a specialty. I've never formally followed just one aspect of technology. Instead, I see making great software as a craft. 
    p My goal is to make great software that people actually want to use. 
    p It's because of this approach that startups usually hire me instead of a team to help them get a product off the ground, or to quickly prototype an idea that they want to validate.
    
  ul.hih-blocks
    li.hih-block.hih-block--1
      h3.hih-block__title Process
      p.hih-block__desc I subscribe to the philosophy of working lean. I like to test ideas when possible, iterate based on first principles, and move as quickly as possible to cover more ground. #[a(href='/r/how-to-navigate-projects') Read about my process].

    li.hih-block.hih-block--2
      h3.hih-block__title Skillset
      p.hih-block__desc I design with pen and paper when trying quick ideas. Then I use Sketch to refine them and create prototypes. I like to code with React, GraphQL, NodeJS, Python, and Go.

    li.hih-block.hih-block--3
      h3.hih-block__title How I Work
      p.hih-block__desc Most projecets I work on are remote, but I'm happy to join you at your office when necessary.

    li.hih-block.hih-block--4
      a(name='rates')
      h3.hih-block__title Rates
      p.hih-block__desc My day rate is £450, and I offer a project rate if you #[a(href='/contact') hire me] for more than two consecutive weeks (ten work days).
