section.grid-section.hih
  h2.hih-title How I help Startups

  .hih-intro
    p I specialise in not having a specialty. I've never formally followed just one aspect of technology. Instead, I see making great software as a craft. 
    p My goal is to make software that people actually want to use. 
    p Because of my approach, startups usually hire me instead of a team to help them get a product off the ground or to prototype an idea they want to test.

  ul.hih-blocks
    li.hih-block.hih-block--red
      h3.hih-block__title Process
      p.hih-block__desc I subscribe to the philosophy of working lean, testing ideas, moving fast, and making iterative improvements. You can read more about how I navigate projects here.

    li.hih-block.hih-block--yellow
      h3.hih-block__title Stack
      p.hih-block__desc At the moment I work with React, GraphQL, NodeJS, Python, and Go.

    li.hih-block.hih-block--blue
      h3.hih-block__title How I Work
      p.hih-block__desc I work remotely most of the time, but I'm more than happy to join you in your London office when needed.

    li.hih-block.hih-block--green
      h3.hih-block__title Rates
      p.hih-block__desc My typical day rate is £450, but I offer a project rate if you hire me for more than two consecutive weeks (10 days).
