@import '../../../css/elements/posts-list.css';


.grid-section.posts {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: srem(5) 0 srem(5);
}

.posts-link {
  display: block;
  margin-top: srem(6);
  padding: 1rem srem(2);
  text-decoration: none;
  font-size: srem(1);
  transition: all 300ms;
  border: var(--homepage-text) 2px solid;
  color: var(--homepage-text);
}


  .posts-link:hover {
    background-color: #495258;
  }

  .posts-link:hover::after {
    transform: translateX(5px);
  }

  .posts-link::after {
    content: '';
    display: inline-block;
    width: 18px;
    height: 12px;
    background: no-repeat center / 100% auto url('/ui/arrow-white.svg');
    margin-left: srem(1);
    transition: all 200ms;
  }

@media (--media-medium-up) {
  .grid-section.posts {
    margin-bottom: srem(9);
    margin-top: srem(9);
  }
}