.grid-section.posts {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: srem(5) 0;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: srem(2);
}

.posts-grid__post-img, 
.posts-grid__post-info,
.posts-grid__post-meta {
  display: block;
}

  .posts-grid__post {
  }

  .posts-grid__post a { text-decoration: none; color: var(--homepage-text); }

  .posts-grid__post-img {
    width: 100%;
  }

  .posts-grid__post-img img {
    display: block;
    width: 100%;
    height: auto;
  }

  .posts-grid__post-info {
    margin-top: 1rem;
  }

  .posts-grid__post-title {
    font-size: srem(1);
    font-weight: var(--font-weight-medium);
  }

  .posts-grid__post-meta {
    margin-top: srem(-1);
    font: srem(-1) var(--font-mono);
  }

    .posts-grid__post-meta-date {}

.posts-link {
  display: block;
  margin-top: srem(6);
  padding: 1rem srem(2);
  text-decoration: none;
  font-size: srem(1);
  transition: all 300ms;
  border: var(--homepage-text) 2px solid;
  color: var(--homepage-text);
}


  .posts-link:hover {
    background-color: #495258;
  }

  .posts-link:hover::after {
    transform: translateX(5px);
  }

  .posts-link::after {
    content: '';
    display: inline-block;
    width: 18px;
    height: 12px;
    background: no-repeat center / 100% auto url('/ui/arrow-white.svg');
    margin-left: srem(1);
    transition: all 200ms;
  }

@media (--media-medium-up) {
  .grid-section.posts {
    margin-top: srem(8);
    margin-bottom: srem(8);
  }
}