.buttons {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

  .buttons .button + .button {
    margin: srem(2) 0;
  }

.button {
  display: inline-block;
  padding: 1rem srem(2);
  text-decoration: none;
  font-size: srem(1);
  transition: all 300ms;
  background: transparent;
  border: white 2px solid;
  color: white;
  cursor: pointer;
  min-width: srem(10);
}

.button--dark {
  border: var(--color-black) 2px solid;
  color: var(--color-black);
}

  /* .buttons .button + .button { margin-left: srem(2); } */

  .button:hover {
    background-color: #495258;
  }

.button--arrow {
  content: '';
  display: inline-block;
  width: 18px;
  height: 12px;
  background: no-repeat center / 100% auto url('/ui/arrow-white.svg');
  margin-left: srem(1);
  transition: all 200ms;
}

.button--arrow:hover::after {
  transform: translateX(5px);
}

@media (--media-medium-up) {
  /* Make button groups flow horizontally on big screens */
  .buttons { flex-flow: row wrap; }
  .buttons .button + .button {
    margin: 0 srem(2);
  }
}