
.posts-list {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
  grid-gap: srem(2);
  align-items: start;
  padding: srem(1);
  animation: fade-from-bottom-small 600ms 100ms 1 both var(--easeInOutSine);
}

a.post-item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  text-decoration: none;
  border-radius: 4px;
  transition: all 500ms var(--easeInOutSine);
  overflow: hidden;
  border: 1px transparent solid;
  color: white;
}

  .post-item__cover {
    width: 100%;
    overflow: hidden;
  }

  .post-item__cover img {
    display: block;
    width: 100%;
    height: auto;
    transition: all 500ms var(--easeInOutSine);
  }

    a.post-item:hover .post-item__cover img { 
      transform: scale(1.07); 
      transition-duration: 2s;
    }

    a.post-item:hover {
      background: rgba(255, 255, 255, .04);
      border-color: rgba(255, 255, 255, .1);
    }

    
  .post-item__detail {
    padding: srem(-2);
    color: var(--posts-text-color);
    text-align: center;
  }

  .post-item__title {
    font-size: srem(1);
    font-weight: var(--font-weight-medium);
    line-height: 1.35;
  }

  .post-item__date {
    margin-top: srem(-5);
    font: srem(-1) var(--font-mono);
    color: var(--posts-text-color-light);
    text-transform: uppercase;
    opacity: .8;
  }

.post-item:first-child { }

@media (--media-small-up) {
  .posts-list {
    grid-template-columns: repeat(2, 1fr);
    padding: srem(3);
  }

  .post-item__cover {
    /* margin-bottom: srem(1); */
  }
}

@media (--media-large-up) {
  .posts-list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: srem(4);
    padding: srem(6);
    max-width: 1500px;
  }

  .post-item__title {
    /* font-size: srem(2); */
  }

  .posts-list--focus-first .post-item:first-child {
    grid-column: span 3;
    grid-row: span 3;
  }
}