/** 
 * Animations are variable depending on element size – large elements 
 * move over large arcs, and small ones over smaller arcs.
 */

/* Move from a direction */

@keyframes from-top-medium {
  from {
    transform: translateY(-5vh);
  }
}

@keyframes from-left-small {
  from {
    transform: translateX(-5vh);
  }
}

@keyframes from-left-medium {
  from {
    transform: translateX(-20vh);
  }
}

@keyframes from-left-large {
  from {
    transform: translateX(-50vh);
  }
}

@keyframes from-z-small {
  from {
    transform: scale(.7);
  }
}

/* Fade in from left */

@keyframes fade-from-left-small {
  from {
    transform: translateX(-5vw);
    opacity: 0;
  }
}

@keyframes fade-from-left-medium {
  from {
    transform: translateX(-20vw);
    opacity: 0;
  }
}

@keyframes fade-from-left-large {
  from {
    transform: translateX(-50vh);
    opacity: 0;
  }
}

/* Fade in from right */
@keyframes fade-from-right-small {
  from {
    transform: translateX(5vw);
    opacity: 0;
  }
}

@keyframes fade-from-right-medium {
  from {
    transform: translateX(20vw);
    opacity: 0;
  }
}

@keyframes fade-from-right-large {
  from {
    transform: translateX(50vh);
    opacity: 0;
  }
}

/* Fade in from top */
@keyframes fade-from-top-medium {
  from {
    transform: translateY(-5vh);
    opacity: 0;
  }
}

/* Fade in from bottom */
@keyframes fade-from-bottom-medium {
  from {
    transform: translateY(20vh);
    opacity: 0;
  }
}

/* Fade in from Z */
@keyframes fade-from-z-small {
  from {
    transform: scale(.9);
    opacity: 0;
  }
}