@import './reset.css';

/* Root */
@import './root.css';

/* Global classes */
@import './breakpoints.css';
@import './animations.css';
@import './grid.css';
@import './header.css';

/* Base setup */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font: var(--font-weight-normal) var(--font-size)/1.4 var(--font-sans-serif);
}

body {
  width: 100%;
  overflow-x: hidden;
}

/* Typography globals */
.mono {
  font-family: var(--font-mono);
  line-height: 1.5;
  font-weight: 400;
}
