/**
 * Grid 
 * Uses CSS grid api to control layouts
 * Great resource on CSS grid: https://css-tricks.com/snippets/css/complete-guide-grid/
 */
 
.grid-container {
  display: grid;
  grid-template-columns: auto var(--max-width) auto;
  grid-gap: 0;
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
  min-height: 100vh;
}

.grid-section {
  grid-column: 2;
  width: 100%;
  max-width: 1200px;
  /* Compensate for absolutely positioned elements like the art */
  position: relative;
  z-index: 100;
}

  .grid-section--wide {
    grid-column: span 3;
  }