.nosaj-header {
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: center;
  justify-content: space-between;
  padding: srem(1);
  width: 100%;
}

.nosaj-header__logo {
  display: block;
  width: 100%;
  max-width: srem(4);
}

.nosaj-header__logo > svg {
  display: block;
  width: 100%;
}

a.back-to-posts {
  display: block;
  width: 38px;
  height: 24px;
  background: center / 100% auto no-repeat url('/posts/back-to-posts.svg');
  text-decoration: none;
}

@media (--media-medium-up) {
  .nosaj-header {
    padding: srem(2);
  }
  
  .nosaj-header__logo {
    max-width: srem(5);
  }
}