/* The document root element */

:root {
  /* Layout vars */
  --max-width: 1200px;
  
  /* Typography vars */
  --font-mono: 'roboto-mono', monospace;
  --font-sans-serif: 'runda', sans-serif;
  --font-size: 112.5%; /* 18px by default */
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  
  /* Easing funcs */
  --easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}