/* The document root element */

:root {
  /* Layout vars */
  --max-width: 1400px;
  --mobile-padding: srem(-1); /* Amount of padding to apply to the sides of the screens < max-width */
  
  /* Typography vars */
  --font-mono: 'Overpass Mono', 'Fira Code', monospace;
  --font-sans-serif: 'runda', sans-serif;
  --font-size: 112.5%; /* 18px by default */
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  
  /* Easing funcs */
  --easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --easeOutCustom: cubic-bezier(0.880, 0.535, 0.400, 1.270);

  /* Colors */
  --color-black: #101018;
  --color-red: rgb(255, 70, 70);
}