@import '../../css/global.css';
@import '../../css/elements/posts-list.css';

.posts {
  --posts-text-color: white;
  --posts-text-color-light: #6f7179;
  background: #121318;
  color: var(--posts-text-color);
}
