section.grid-section.hire-me

  h1.hire-me__title.section-title Need a hand with a project?
  p My schedule is currently open.

  .hire-me__ctas.buttons
    a.button(href='/contact') Contact me
    a.button(href='https://twitter.com/messages/compose?recipient_id=20256024') DM me on Twitter