@import '../../css/global.css';

/* Different sections of blog posts */
@import './sections/post-typography.css';
@import './sections/lists.css';
@import './sections/cover.css';
@import './sections/top.css';
@import './sections/headings.css';
@import './sections/media.css';
@import './sections/blockquote.css';
@import './sections/hr.css';

.post {
  --post-text-color: var(--color-black);
  --post-text-color-light: #A7AAB6;
}

.post-content {
  /* margin-top: srem(5); */
  font-size: 1.111rem;
  line-height: 1.5;
  color: var(--post-text-color);
}
