doctype html
html
  include /partials/head.pug
  body.post
    //- include /partials/header.pug
    .grid-container.grid-container--fluid
      .post-content= post.title
    include /partials/scripts.pug