@import '../../css/global.css';

/* Different sections of blog posts */
@import './sections/post-typography.css';
@import './sections/lists.css';
@import './sections/cover.css';
@import './sections/top.css';
@import './sections/headings.css';
@import './sections/media.css';
@import './sections/blockquote.css';
@import './sections/hr.css';
@import './sections/post-footer.css';

.post {
  --post-text-color: var(--color-black);
  --post-text-color-light: #A7AAB6;
}

.post-cover {
  animation: fade-in 600ms 1 both var(--easeInOutSine);
}

.post-content {
  font-size: 1.111rem;
  line-height: 1.5;
  color: var(--post-text-color);

  animation: fade-from-bottom-small 600ms 300ms 1 both var(--easeInOutSine);
}
