.project.project--justalevel.project--column
  .project__preview
    .project-frame.project-frame--tablet(
      data-video-url='/work/jal/jal-project-run.mp4'
      )

  .project__body
    h2.project-title An education platform for computer science students.
    p I teamed up with Code at Uni and the UK government for this project. I was responsible for the design and a lot of the engineering.
    p Design – created wireframes and mockups, then validated them with potential users.
    p Engineering – shared the load with #[a(href='http://francescoagosti.com/' target='_blank') Francesco]. We used React with Styled Components and GraphQl on the frontend, and Node deployed on AWS lambda on the back.
    .project-links
      a.project-link(href='http://justalevel.com' target='_blank') justalevel.com