.project.project--liveworksearch
  .project__body
    h2.project-title An app for comparing live/work style properties in and around London.
    p To scratch an itch, I created a prototype web app that searches London agents for niche Live/Work style properties (a growing sector) and shows the results on a map for easy comparison.
    p This was a solo project, so I was responsible for everything from design to prototype to launch. For tech I used NodeJS with Postgres for the API, React for the frontend, and Phantom for the data collection bot.
    .project-links
      a.project-link(href='http://liveworksearch.com' target='_blank') liveworksearch.com
  
  .project__preview
    .project-frame.project-frame--mobile(
      data-video-url='/work/lws/lws-project-run.mp4'
      )