doctype html
html
  include /partials/head.pug
  body.homepage
    //- include /partials/header.pug
    .grid-container
      include ./sections/opener.pug
      include ./sections/posts.pug
      include ./sections/work.pug
    include /partials/scripts.pug