@import '../../css/global.css';

/* Homepage sections */
@import './opener/opener.css';
@import './logos/logos.css';
@import './posts/posts.css';
@import './projects-gallery/projects-gallery.css';
@import './how-i-help/how-i-help.css';

/**
 * Homepage styles
 */

.homepage {
  --homepage-background: var(--color-black);
  --homepage-complementary: var(--color-red);
  --homepage-text: white;

  background: var(--homepage-background);
  color: var(--homepage-text);
}

a {
  color: var(--homepage-complementary);
  text-decoration: underline;
}