doctype html
html
  include /partials/head.pug
  body.homepage
    .grid-container
      section.grid-section.opener
        h1.opener__text I build websites & apps from scratch.
    include /partials/scripts.pug