@import '../../css/global.css';

/* Homepage sections */
@import './sections/opener.css';
@import './sections/posts.css';

/**
 * Homepage styles
 */

body.homepage {
  background: #000;
  color: white;
}

body.homepage a {
  color: white;
  text-decoration: underline;
}