doctype html
html
  include /partials/head.pug
  body.homepage
    //- include /partials/header.pug
    .grid-container.grid-container--fluid
      include ./opener/opener.pug
      include ./posts/posts.pug
      include ./logos/logos.pug
      include ./projects-gallery/projects-gallery.pug
      include ./how-i-help/how-i-help.pug
    include /partials/scripts.pug