doctype html
html
  include /partials/head.pug
  body.homepage
    - const headerFixed = true;
    include /partials/header-light.pug
    .grid-container.grid-container--fluid
      include ./opener/opener.pug
      include ./logos/logos.pug
      include ./posts/posts.pug
      include ./projects-gallery/projects-gallery.pug
      include ./how-i-help/how-i-help.pug
      include ./hire-me/hire-me.pug
    .footer-logo
    include /partials/footer.pug
    include /partials/scripts.pug