footer.nosaj-footer
  section.footer-block
    ul.footer-list
      li #[a(href='/contact') Contact]
      li #[a(href='/#work') Featured work]
      li #[a(href='/r') Blog]
      li #[a(href='/r/how-to-navigate-projects') About my process]
      li #[a(href='/#rates') My rates]
      
  section.footer-block
    h3.footer-block__heading Elsewhere on the web
    ul.footer-list
      li #[a(href='' target='_blank') Twitter]
      li #[a(href='' target='_blank') GitHub]
      li #[a(href='' target='_blank') LinkedIn]
      
  
  .footer-c 
    .footer-c__row Nosaj ltd (10687980)
    .footer-c__row Copyright Jason Howmans 2016 – 2018

