if js 
  script !{js}

//- Google analytics
<!-- Global site tag (gtag.js) - Google Analytics -->
script(async src='https://www.googletagmanager.com/gtag/js?id=UA-122370645-1')
script
  include ./google-analytics.js

if experimentJs
  script !{experimentJs}