.projects-gallery__project.project--bfx
  .bfx-preview
    img(src='/work/bfx/beach.jpg' alt='')
  .project-info.bfx-info
    h1.project-title.project-title--left Beachfix – Create the best travel website for beach lovers
    .project-meta
      .project-meta__item
        h2.project-meta__title URL
        p.project-meta__body
          a(href='http://beachfix.co' target='_blank') beachfix.co
      .project-meta__item 
        h2.project-meta__title Turnaround
        p.project-meta__body 2 months
      .project-meta__item.project-meta__item--large
        .project-meta__body 
          p It all started after CEO Nishul Saperia spent a year travelling the world collecting data on the world’s best beaches. I joined up with the Beachfix team to design and build the first non-prototype version of the website.
          p I designed the new website with support from users who helped us test big UI decisions. As for the stack, I used React to make the frontend and NodeJS for some of the backend services.
        