.project--jal {
  --project-color: #1973E6;
  --project-text-color: white;
  
  background: var(--project-color);
  color: var(--project-text-color);
}

.project--jal.not-in-view > * {
  opacity: 0;
}

.project--jal.in-view .project-title {
  animation: both 1 300ms from-top-medium;
}