.project--jal {
  --project-color: rgb(3, 39, 85);
  --project-text-color: white;
  
  background: var(--project-color);
  color: var(--project-text-color);
  padding: srem(5);
}

/* View change animations */
.project--jal.not-in-view .jal-info > *  { opacity: 0; }
.project--jal.in-view .project-title     { animation: both 1 300ms fade-from-top-medium var(--easeInOutSine); }
.project--jal.in-view .jal-preview       { animation: both 1 600ms fade-from-z-small var(--easeOutCustom); }
.project--jal.in-view .project-meta      { animation: both 1 400ms fade-from-bottom-medium var(--easeInOutSine); }

/* Slide content */
.jal-info {
  width: 100%;
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}

.jal-preview {
  width: 800px;
  height: auto;
  margin-top: srem(5);
  background: white;
  box-shadow: 0 10px 50px rgba(5, 29, 61, 0.8);
  border-radius: 7px;
  overflow: hidden;
}

  .jal-preview video {
    display: block;
    width: 100%;
    height: auto;
  }

.project--jal .project-meta {
  margin-top: srem(4);
  max-width: 700px;
}