.projects-gallery__project.project--jal
  .jal-info
    h1.project-title.project-title--center Working with the UK government to make A-level computer science more accessible.
    .jal-preview
    .project-meta
      .project-meta__item
        h2.project-meta__title URL
        p.project-meta__body
          a(href='http://justalevel.com' target='_blank') justalevel.com
      .project-meta__item 
        h2.project-meta__title Turnaround
        p.project-meta__body Two months
      .project-meta__item.project-meta__item--large
        h2.project-meta__title What I did
        div.project-meta__body 
          p Design – created wireframes and mockups, then validated them with potential users. 
          p Engineering – shared the load with Francesco. We used React with Styled Components and GraphQl on the frontend, and Node deployed on AWS lambda on the back.
        