.project--lws {
  --project-color: #F6E75E;
  --project-text-color: black;
  
  background: var(--project-color);
  color: var(--project-text-color);

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.project--lws a {
  color: var(--project-text-color);
}

/* Simplify the animations */
.project--lws.not-in-view > * { opacity: 0; }
.project--lws.in-view .map-decor { animation: both 1 200ms fade-from-left-large var(--easeInOutSine); }
.project--lws.in-view .lws-info { animation: both 1 300ms 200ms fade-from-top-medium var(--easeInOutSine); }
.project--lws.in-view .lws-phone { animation: both 1 400ms 200ms fade-from-left-medium var(--easeInOutSine); }

.map-decor {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat top left / auto 100% url('/work/lws/map-decor.png') ;
}

.lws-phone {
  width: 346px;
  height: 723px;
  background: var(--project-text-color);
  border-radius: 30px;
  
}

.lws-phone__content {

}

.lws-info {
  width: 100%;
  max-width: 770px;
  text-align: center;
}

.lws-title {
  
}

.lws-description {
  margin-top: srem(4);
  padding: 0 srem(2);
}

.lws-info .project-meta {
  align-self: flex-end;
  margin-top: auto;
}

@media (--media-medium-up) {
  .lws-phone {
    margin: srem(8) srem(9) srem(4) 0;
  }
  
  .lws-info {
    padding: srem(8) 0 srem(4);
  }
}