.projects-gallery__project.project--lws
  .map-decor
  .lws-phone
    .les-phone__content
  .project-info.lws-info
    h1.project-title An app for comparing Live/Work style properties in London.
    p.project-description.lws-description To scratch an itch, I created a prototype web app that searches London agents for niche Live/Work style properties (a growing sector in London) and shows the results on a map for easy comparison.
    .project-meta
      .project-meta__item
        h2.project-meta__title URL
        p.project-meta__body
          a(href='http://liveworksearch.com' target='_blank') liveworksearch.com
      .project-meta__item 
        h2.project-meta__title Turnaround
        p.project-meta__body About 1 month
      .project-meta__item.project-meta__item--large
        h2.project-meta__title What I did
        p.project-meta__body Everything! From idea to prototype to launch; stack is NodeJS for the API, React for the frontend, and NodeJS with Phantom for the web crawler.
        