.projects-gallery__project.project--lws
  .map-decor
  .lws-phone
    .les-phone__content
  .lws-info
    h1.project-title An app for comparing Live/Work style properties in London.
    p.lws-description To scratch an itch, I created a prototype web app that searches London agents for niche Live/Work style properties (a growing sector in London) and shows the results on a map for easy comparison.
    