@import './lws.css';
@import './jal.css';

.projects-gallery {
  overflow: hidden;
  width: 100%;
  max-width: 100vw;
}

.projects-gallery__content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: auto;
  transition: all 300ms;
}

  /* When the gallery is being interracted with, don't allow transitions. */
  .projects-gallery__content.touch {
    transition: none
  }

.projects-gallery__project {
  flex: 0 0 auto;
  width: 100%;
  min-height: 90vh;
}

.project-title {
  font-size: srem(4);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.project-title--left { text-align: left; }
.project-title--center { text-align: center; }