@import './lws.css';
@import './jal.css';
@import './rip.css';

.projects-gallery {
  position: relative;
  overflow: hidden;
  width: 100vw;
}

.projects-gallery__content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: auto;
  transition: all 300ms;
}

  /* When the gallery is being interracted with, don't allow transitions. */
  .projects-gallery__content.touch {
    transition: none;
  }

.projects-gallery__project {
  position: relative;
  flex: 0 0 auto;
  height: auto;
  width: 100vw;
  cursor: grab;
}

.projects-gallery__content.touch .projects-gallery__project {
  cursor: grabbing;
}

.project-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.project-title {
  line-height: 1.2;
  font-size: srem(4);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.project-title--left { text-align: left; }
.project-title--center { text-align: center; }

.project-description {
  font-size: 1.11rem;
  line-height: 1.4;
}

/* Project meta sections */

.project-meta {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template: 1fr 1fr / .6fr 1.4fr;
  gap: srem(1) srem(4);
  text-align: left;
  font: .944rem/1.4 var(--font-mono);
}

.project-meta__item--large {
  grid-row: span 2; 
}

.project-meta__title {
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.project-meta__body {

}

.project-meta__body p + p {
  margin-top: srem(1);
}