.projects-gallery__project.project--rip
  .rip-phone
    .rip-phone__content
      video(src='/work/rip/rip-project-run.mp4' loop)
  .project-info.rip-info
    h1.project-title.project-title--left Your favourite YouTube content as podcasts with Ripcast
    .project-meta
      .project-meta__item
        h2.project-meta__title URL
        p.project-meta__body
          a(href='http://ripcast.in' target='_blank') ripcast.in
      .project-meta__item 
        h2.project-meta__title Turnaround
        p.project-meta__body About 1 month
      .project-meta__item.project-meta__item--large
        p.project-meta__body I designed and built the app from scratch. The frontend runs a simple React setup. The processing system uses NodeJS with Redis to stream videos through FFMPEG before saving them to S3 for listening. #[a(href='/r/ripcast-writeup') Read about how I made Ripcast here.]
        