.project--rip {
  --project-color: rgb(236, 52, 52);
  --project-text-color: black;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  /* align-items: flex-start; */
  padding: srem(5);
  color: var(--project-text-color);
  background: var(--project-color);
}

.project--rip a {
  color: var(--project-text-color);
}

/* Opening animations */
.project--rip.not-in-view > *     { opacity: 0; }
.project--rip.in-view .rip-info   { animation: both 1 300ms 200ms fade-from-top-medium var(--easeInOutSine); }
.project--rip.in-view .rip-phone  { animation: both 1 400ms 200ms fade-from-left-medium var(--easeOutCustom); }


.rip-phone {
  align-self: flex-start;
  width: 346px;
  border: var(--project-text-color) 5px solid;
  border-radius: 30px;
  overflow: hidden;
  margin-right: srem(4);
}

.rip-phone__content {
  width: 100%;
  height: 100%;
}

.rip-phone__content video {
  display: block;
  width: 100%;
  height: auto;
}

.rip-info {
  max-width: 858px;
}

.rip-info .project-meta {
  margin-top: auto;
}

.rip-info .project-title {
  
}